<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>MakeMoney</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Account Username</string>
			<key>Key</key>
			<string>account_username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Account Password</string>
			<key>Key</key>
			<string>account_password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Background radio</string>
			<key>Key</key>
			<string>noise</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>http://radio.nulab.si:8800/classics</string>
			<key>Titles</key>
			<array>
				<string>RadioNULA Classic</string>
				<string>RadioNULA One Love</string>
				<string>RadioNULA Office Dips</string>
				<string>Groove Salad</string>
				<string>Space Music</string>
				<string>Off</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://radio.nulab.si:8800/classics</string>
				<string>http://radio.nulab.si:8800/onelove</string>
				<string>http://radio.nulab.si:8800/lounge</string>
				<string>http://scfire-dtc-aa03.stream.aol.com:80/stream/1018</string>
				<string>http://194.140.112.114:8000</string>
				<string>null</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Style</string>
			<key>Key</key>
			<string>horizontal</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>true</string>
			<key>Values</key>
			<array>
				<string>false</string>
				<string>true</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Vertical</string>
				<string>Horizontal</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Vibe</string>
			<key>Key</key>
			<string>vibe</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<real>0.38</real>
			<key>Values</key>
			<array>
				<real>0.38</real>
				<real>0.83</real>
				<real>1.38</real>
				<real>1.83</real>
				<real>2.38</real>
				<real>2.83</real>
				<real>3.38</real>
				<real>3.83</real>
			</array>
			<key>Titles</key>
			<array>
				<string>2.63Hz</string>
				<string>1.2Hz</string>
				<string>0.72Hz</string>
				<string>0.55Hz</string>
				<string>0.42Hz</string>
				<string>0.35Hz</string>
				<string>0.3Hz</string>
				<string>0.26Hz</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Image Downloads</string>
			<key>Key</key>
			<string>pikchur_download_size</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string>l</string>
			<key>Values</key>
			<array>
				<string>l</string>
				<string>m</string>
				<string>s</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Large</string>
				<string>Medium</string>
				<string>Small</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
